.main {
	border-radius: 10px;
	border: 1px solid currentColor;
	width: 250px;
	height: 330px;
}

.stats {
	display: flex;
	border-bottom: 1px solid currentColor;
}
.stats > div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}
.stats > div:not(:last-child) {
	border-right: 1px solid currentColor;
}