.main {
	padding: 1em;
	border: 1px solid currentColor;
	text-align: center;
}

.simple {

}
.dur {
	border-top-left-radius: 10px;
}
.atk, .def {
	border-top-right-radius: 10px;
}

.read {
	position: relative;
	border: 0;
	text-align: left;
	padding-right: 2em;
}
.read::after {
	content: "";
	position: absolute;
	height: 2.47487em; /* solved from height of 3.5em, isosceles triangle */
	width: 2.47487em;
	top: 50%;
	right: 0;
	border-top: 1px solid currentColor;
	border-right: 1px solid currentColor;
	transform: rotate(45deg);
	transform-origin: top right;
}
.read::before {
	content: "";
	position: absolute;
	inset: 0;
	height: 100%;
	width: calc(100% - 1.75em);
	border: 1px solid currentColor;
	border-right: 0;
}

.write {
	position: relative;
	border: 0;
	text-align: right;
	padding-left: 2em;
}
.write::after {
	content: "";
	position: absolute;
	height: 2.47487em; /* solved from height of 3.5em, isosceles triangle */
	width: 2.47487em;
	top: 0;
	left: 0;
	border-top: 1px solid currentColor;
	border-right: 1px solid currentColor;
	transform: rotate(45deg);
	transform-origin: top left;
}
.write::before {
	content: "";
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	border: 1px solid currentColor;
	border-left: 0;
}

.event::before {
	content: "⃝";
}